
<h1>Databases:</h1>
<dl id="db-stats">
  <%#= @stats %>
  <dt>Databases:</dt>
  <dd><%= @databases.size %> </dd>

  <dt>Mongodb:</dt>
  <dd>v<%= @stats["version"] %> <%= @stats["bits"] %> bits
     <%= sprintf("%.2f", (@stats["maxBsonObjectSize"]/1024.to_f)/1024) %> MB BSON Obj Size</dd>

  <dt>Sysinfo:</dt>
  <dd><%= @stats["sysInfo"] %> </dd>

</dl>

<table id="databases">
  <thead>
    <tr>
      <th><span>Name</span></th>
      <th><span>Size</span></th>
    </tr>
  </thead>
  <tbody>
  <% if @databases == 0 %>
    <tr>
      <td colspan="3" id="databases-no-databases">No databases.</td>
    </tr>
  <% else %>
  <% @databases.each do |name, size| %>
    <tr>
      <td><a href='/<%= name %>'><%= name %></a></td>
      <td><dd><%= sprintf("%.2f", (size/1024.to_f)/1024) %> MB</td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
